:root {
    --lilas: #A569BD;
    --roxo: #47286A;
}

body {
    background: var(--roxo);
    font-family: 'Roboto Flex', sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--lilas);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* filme-principal*/

.tela-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/armyflix/img/in-the-soop-poster.jpg');

    height: 650px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tela-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.tela-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .2s ease all;
}

.botao:hover{
    background-color: white;
    color: var(--roxo);
}

.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 20px;
}

.tela-principal .container{
    width: 70%;
}

.box-conteudo{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrosel-muster{
    margin-top: 5px;
}

.carrosel-muster .categoria{
    margin-top: 15%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.carrosel-shows{
    margin-top: 5px;
}

.carrosel-shows .categoria{
    margin-top: 15%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.carrosel-tv{
    margin-top: 5px;
}

.carrosel-tv .categoria{
    margin-top: 15%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-footer{
    background-color: var(--lilas);
    color: white;
    text-align: center;
    text-justify: center;
}